# ide config
.venv
venv
.idea

# pants
.pants.d
dist

# terraform
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# hypothesis
.hypothesis

# aws cli
response.json

# testing
.pytest_cache
__pycache__/
