# application
loguru~=0.7.3
boto3-stubs[essential]~=1.40.25
icoscp~=0.2.2
dacite~=1.9.2

# adding for known incompatibility for icoscp
numpy>=1.23.0,<2.0

# testing
assertpy~=1.1
pytest~=8.4.2
moto[dynamodb, s3]~=5.1.11
hypothesis~=6.139.2
responses~=0.25.8